name: release

on:
  push:
    branches: ["main"]

jobs:
  releasaurus:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - run: echo "temporarily disabled"
      # - uses: robgonnella/releasaurus/action/github@v0.3.3
      #   with:
      #     token: ${{ secrets.GH_TEST_TOKEN }}
