name: release

on:
  push:
    branches: ["main"]

jobs:
  releasaurus:
    if: ${{ github.repository == 'robgonnella/releasaurus' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/rust-setup
        with:
          cache_name: release
      - name: release
        run: |
          cargo run --bin releasaurus -- \
          release \
          --forge github \
          --repo https://github.com/robgonnella/releasaurus \
          --token ${{ secrets.GH_TEST_TOKEN }}
      - name: release-pr
        run: |
          cargo run --bin releasaurus -- \
          release-pr \
          --forge github \
          --repo https://github.com/robgonnella/releasaurus \
          --token ${{ secrets.GH_TEST_TOKEN }}
