name: release

on:
  push:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  releasaurus:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@v5
      - uses: robgonnella/releasaurus/action/github@main
        with:
          token: ${{ secrets.GH_TEST_TOKEN }}
