name: release

on:
  push:
    branches: ["main"]

jobs:
  releasaurus:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: robgonnella/releasaurus/action/github@v0.7.1
        with:
          token: ${{ secrets.GH_TEST_TOKEN }}
